.box{
    width: 1500px;
    height: 700px;
    padding:40px ;
    margin: auto;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    background-color: rgb(0, 58, 0);
    color: white;
   
    
}

header {
    text-align: center;
}

h1 {
    margin: auto;
    width: 636px;
    background-color: #311313;
}
 
.box2{
    width: 700px;
    height: 200px;
    margin: 40px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: rgb(0, 100, 100);
    color: aliceblue;
    border-top: 238px;
    border-left: 272px;
}